<h1><%= @page.title %></h1>

<p><%= @page.body %></p>

<form method="post" action="/pages/<%= @page._id %>">
  <input type="hidden" name="_method" value="put">
  <dl>
    <% @fields.each do |field| %>
      <dt><%= field %></dt>
      <dd><input type="text" name="<%= field %>" value="<%= @page.send(field) %>"></dd>
    <% end %>
  </dl>
  <input type="hidden" name="template" value="<%= @page.template %>"></input>
  <input type="submit" value="Save">
</form>