<h1><%= @page.title %></h1>

<p><%= @page.body %></p>

<form method="post" action="/page/<%= @page._id %>">
  <dl>
    <dt>Title</dt>
    <dd><input type="text" name="title" value="<%= @page.title %>"></dd>
    <dt>Template</dt>
    <dd><input type="text" name="template" value="<%= @page.template %>"></dd>
    <dt>Body</dt>
    <dd><textarea name="body"><%= @page.body %></textarea></dd>
  </dl>
  <input type="submit" value="Save">
</form>